.header-main {

    .navbar-brand {
        font-size: 22px;
    }

    .links {
        padding: 10px;
    }
    
    .insta {
        font-size: 18px;
        margin-bottom: -5px;
    }

    .insta i {
        color: hotpink;
    }
}