//TODO
.navHeader {
    background-color: orangered;
    border: 10px solid red;
}

li {
    font-size: 16px;
    color: red;
}
.navbar-brand {
    font-size: 22px;
    // color: white;
}
.links {
    padding: 10px;
}
.insta {
    font-size: 18px;
    margin-bottom: -5px;
    // line-height: 2;
    // color: hotpink;
    // color: red;

}
.insta i{
    color: hotpink;
    // margin-bottom: 0;
}
.facebook i {
    color: blue
}