.footer {
    background-color: #000000;
    padding: 10px 0;
    width: 100%;
    z-index: 10;

    .content {
        display: flex;
        justify-content: flex-end;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .text {
        display: flex;
        align-self: center;
        margin-right: 10px;
        color:#ffffff;
        font-size: 12px;
    }

    .logo {
        color:#ffffff;
        font-size: 18px;
    }
    
    .insta {
        font-size: 18px;
        margin-bottom: -5px;
    }

    .insta i {
        color: hotpink;
    }
}