.app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;

    .app_header {
        flex: 0 1 auto;
        height: 50px;
    }

    .app_content {
        flex: 0 1 100%;
    }

    .app_footer {
        flex-shrink: 0;
    }
}